/* App.css */
.App {
  
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efefef;
}

/* Style for the content container */
.content-container {
  padding-top: 60px; /* Adjust the value to match the height of your TopNavbar */
}

footer {
  background: linear-gradient(90deg, #580e42, #1d071f);
  color: #fff;
  text-align: center;
  padding: 2px 0;
}